@inject AppState state

<div class="container">

    <div id="title" class="row py-4">
        <h1>What's For Lunch?</h1>
    </div>

    <div id="choices-area">
        <Choices CurrentChoices="@state.Choices" OnAddChoice="@state.AddChoice" OnRemoveChoice="@state.RemoveChoice" />
    </div>

    <div id="results-area">
        <Results Choice="@state.CurrentChoice" OnChoose="@state.GetChoiceAsync" />
    </div>
</div>

@code
{
    protected async override Task OnInitializedAsync()
    {
        state.OnChange += StateHasChanged;
        await state.GetExistingChoicesAsync();
    }
}