@inject AppState state

<div class="container">

    <div id="title" class="jumbotron text-center">
        <h1>What's For Lunch?</h1>
        <p>For when you just cant decide what's on the menu!</p>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <Choices CurrentChoices="@state.Choices" OnAddChoice="@state.AddChoice" OnRemoveChoice="@state.RemoveChoice" />
        </div>

        <div class="col-sm-6">
            <Results Choice="@state.CurrentChoice" OnChoose="@state.GetChoiceAsync" />
        </div>
    </div>
</div>

@code
{
    protected async override Task OnInitializedAsync()
    {
        state.OnChange += StateHasChanged;
        await state.GetExistingChoicesAsync();
    }
}